.grid-wrapper {
  padding: 20px;
  background-color: #1c1c1e;
  border:black 2px solid;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
  width: 520px;
}

.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(10, 47px);
  grid-template-rows: repeat(10, 47px);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: -1px;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: blue;
}

.cell.ship {
  background-color: #2965dd;
}

@media (max-width: 750px) {
  .grid-wrapper {
    width: 400px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    padding: 10px;
  }

  .grid-wrapper {
    padding: 20px 10px;

  }

}

@media (max-width: 500px) {
  .grid-wrapper {
    width: 270px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    padding: 10px;
  }

  .grid-wrapper {
    padding: 10px;

  }

}