.grid {
  display: grid;
  grid-template-columns: repeat(10, 47px);
  grid-template-rows: repeat(10, 47px);
  background-color: #1c1c1e;
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.5s;
  margin: -1px;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: blue;
}

.cell.ship {
  background-color: #2965dd;
}
