/* Button grid layout */
.button-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
  background-color: #1c1c1e;
  border:black 2px solid;
  padding:20px;
  border-radius: 30px;
}

.button-grid-title {
  font-size: 30px;
  padding: 0;
  margin: 0;
}


.orientation-btn, 
.clear-btn, 
.start-btn {
  padding: 8px 24px;
  border: 2px solid #333;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  width: 250px;
  background-color: #333;
  color: white;
}

.orientation-btn:hover,
.clear-btn:hover,
.start-btn:hover {
  transform: scale(1.03);
}

.start-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  border-color: #999;
  color: #999;
  background-color: #f0f0f0;
  transform: none;
}