.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 60px 0;
  border-radius: 10px;
  width: 320px;
	min-width: 310px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	font-size: 45px;
	font-weight: bold;
	margin: 0;
}

.emoji-pic {
  font-size: 120px;
  margin: 20px 0;
}

.close-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
	font-weight: bold;
}

.close-btn:hover {
  background-color: #0056b3;
}
