.ship-grid {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1e;
  border:black 2px solid;
  align-items: left;
  text-align: center;
  padding:15px;
  border-radius: 30px;
}

.ship-button-title{
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.ship-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;

}

.ship-count {
  font-size: 26px;
  font-weight: bold;
}

.ship {
  display: flex;
}

.ship-container.selected {
  background-color: #6e6e6e;
}

.ship-square {
  width: 35px;
  height: 35px;
  background-color: #2965dd;
  border: 3px solid #00247f;
  box-sizing: border-box;
}



.ship-square:not(:last-child) {
  margin-right: -3px;
}