.ship-placement {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
}

.ship-placement-title {
	margin: 30px 0;
	padding: 0;
	font-size: 50px;
	padding: 10px 45px;
	color: white;
    background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	border-radius: 10px;
}

.ship-placement-container {
	display: flex;
	align-items: center;
	background-color: #31363a;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 30px;
	margin-bottom: 50px;
}


.ship-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
}



@media (max-width: 1200px) {
	.ship-options {
		flex-direction: row;
		margin: 0 auto;
		padding: 20px;
	}

	.ship-placement-container {
		flex-direction: column;		
	}

}


@media (max-width: 750px) {
	.ship-placement-container {
		padding: 40px;
		border-radius: 30px;
		margin-bottom: 50px;
		margin: 0 90%;
	}
	.ship-options {
		flex-direction: column;
		gap:10px;
	}

}

@media (max-width: 500px) {
	.ship-placement-title {
		font-size: 30px;
	}

	.ship-placement-container {
		border-radius: 30px;
		margin: 0;
		padding: 0;
		padding-top: 20px;
	}
	.ship-options {
		flex-direction: column;
		gap:10px;
	}

}

